---
---

@import "{{ site.theme }}";

#post {
  margin: 0;
  padding: 0;

  & strong {
    font-weight: bold;
  }

  & > #title {
    margin: 0;
    padding: 20px 0;

    & > .credits {
      margin: 0;
    }
  }
}

@media print, screen and (max-width: 720px) {
  #post > #title > .credits {
    line-height: 22px;
  }
}


.yt {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.sc {
  background: rgba(255, 255, 255, 0.125);
  padding: 12px;

  & > iframe {
    display: block;
  }
}

.badge-wrap {
  padding: 5px;
}
.badge {
  height: 40px;
  margin: 5px;
}
