---
---

@import "{{ site.theme }}";

body {
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif!important;

  h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, sans-serif!important;
  }
}

#post {
  margin: 0;
  padding: 0;

  #post_date {
    color: #696969;
    font-size: 11px;
    font-weight: bold;
  }

  & strong {
    font-weight: bold;
  }

  & > #navigation {
    margin: 0;
    padding: 20px 0;
  }

  & > hr:last-of-type:not(:first-of-type) {
    margin: 0;
  }

  & > #pagination,
  &> #navigation {
    padding: 20px 0;
    display: flex;
    align-items: center;

    & > * {
      display: inline-block;
      margin: 0;
    }

    & > .spacer {
      flex: 1 1 auto;
    }

    & > :not(.spacer) {
      flex: 0 0 auto;
    }

    @media print, screen and (max-width: 720px) {
      flex-direction: column;

      & > * {
        line-height: 22px;
      }
    }
  }

  .yt {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    & > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .sc {
    background: rgba(255, 255, 255, 0.125);
    padding: 12px;

    & > iframe {
      display: block;
    }
  }

  .badge-wrap {
    padding: 5px;
  }
  .badge {
    height: 40px;
    margin: 5px;
  }

  a.draft {
    color: #95c322;

    &:hover, &:focus, &:active {
      color: #b7f626;
    }
  }
}

.year {
  margin-top: 20px;
}

.accordion {
  input {
    display: none;

    & + label {
      display: block;
      padding: 8px 16px;
      margin-bottom: 2px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.25);

      & > h4 {
        margin: 0;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.375);
      }

      & + .content {
        display: none;

        & li {
          padding-top: 4px;
          padding-bottom: 4px;

          & > a {
            font-size: 16px;
            display: inline-block;
          }
        }
      }
    }

    &:checked + label {
      margin-bottom: 0;
      & + .content {
        display: block;
      }
    }
  }

  .content {
    background: rgba(255, 255, 255, 0.0625);
    padding: 8px 8px 8px 0;
    margin-bottom: 2px;

    & > ul {
      margin-bottom: 0;
    }
  }
}