---
---

@import "{{ site.theme }}";

body {
  padding: 0;
  font-family: Tahoma, Geneva, sans-serif !important;
  min-height: 100vh;
  background-color: #252525;
  @media (min-width: 711px) {
    background-image: url("/assets/images/bg.svg");
    background-size: 500px;
    background-repeat: repeat;
    background-position-x: 50%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, Geneva, sans-serif !important;
  }
}

.wrapper {
  min-height: 100vh;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background-color: #2e2e2e;

  display: flex;
  flex-direction: column;

  .spacer {
    flex: 1 1 auto;
  }

  :not(.spacer) {
    flex: 0 0 auto;
  }

  .center-text {
    text-align: center;
  }

  h1 {
    hyphens: auto;
  }
}


#pagination,
#navigation,
#information {
  padding: 20px 0;
  display: flex;
  align-items: center;

  & > * {
    display: inline-block;
    margin: 0;
  }

  @media print, screen and (max-width: 710px) {
    flex-direction: column;

    & > * {
      line-height: 22px;
    }
  }
}

#post {
  margin: 0;
  padding: 0;

  #post_date {
    color: #969696;
    font-size: 11px;
    font-weight: bold;
  }

  strong {
    font-weight: bold;
  }

  & > #navigation {
    margin: 0;
    padding: 20px 0;
  }

  .yt {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    & + p {
      margin-top: 20px;
    }

    & > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .sc {
    background: rgba(255, 255, 255, 0.125);
    padding: 12px;

    & + p {
      margin-top: 20px;
    }

    & > iframe {
      display: block;
    }
  }

  .badge-wrap {
    padding: 5px;
    display: flex;
    justify-content: center;

    & > a {
      display: block;
      margin: 0 8px;
      padding: 4px;

      &:nth-of-type(2) {
        padding: 0;
      }

      & > img {
        display: block;
      }
    }
  }

  a.draft {
    color: #95c322;

    &:hover, &:focus, &:active {
      color: #b7f626;
    }
  }
}

.year {
  margin-top: 20px;
}

.accordion {

  & > summary {
    outline: none;
    display: block;
    padding: 8px 16px;
    margin-bottom: 2px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);

    &:hover {
      background: rgba(255, 255, 255, 0.375);
    }
  }

  & > .content {
    background: rgba(255, 255, 255, 0.0625);
    padding: 8px 8px 8px 0;
    margin-bottom: 2px;

    & > ol {
      list-style-type: decimal-leading-zero;
    }

    & > ul, ol {
      margin-bottom: 0;
      font-size: 16px;

      & > li {
        padding-top: 4px;
        padding-bottom: 4px;

        & > a {
          display: inline-block;
        }
      }
    }
  }

  &[open] > summary {
    margin-bottom: 0;
  }
}

footer {
  & > hr {
    margin: 0;
  }
}
