---
layout: compress
telegram: loolzrules_channel
author_telegram: loolzrules
---
{%- assign performer_name = page.name | default: page.title -%}
{%- assign index_page_address = "/channel/" -%}
{%- if page.url == index_page_address -%}
  {%- assign title = "На репите каждый день" -%}
{%- else -%}
  {%- assign title = performer_name | append: " - На репите каждый день" -%}
{%- endif -%}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Музыкальный блог">
  <meta property="og:title" content="{{ title }}" />
  {%- if page.image -%}
    {%- assign image = "/assets/images/posts/" | append: page.image | append: ".jpg" -%}
  {%- else -%}
    {%- assign image = "/assets/images/logo.jpg" -%}
  {%- endif -%}
  <meta property="og:image" content="{{ image }}" />
  <meta property="telegram:channel" content="@{{ layout.telegram }}" />
  <link rel="icon" href="/assets/images/favicon.png">
  <link rel="canonical" href="{{site.url}}{{page.url}}">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
</head>
<body>
  <div class="wrapper">
    <div id="navigation">
        <span class="credits left center-text" id="breadcrumbs">
          {%- assign index_page_name = "Все посты" -%}
          {%- if page.url == index_page_address -%}
            {{- index_page_name -}}
          {%- else -%}
            <a href="{{ index_page_address | remove: '.html' }}">{{ index_page_name }}</a> / {{ performer_name }}
          {%- endif -%}
        </span>
      <div class="spacer"></div>
      <span class="credits right center-text">
          {%- assign link_href = "https://t.me/" | append: layout.telegram -%}
          {%- assign link_text = "@" | append: layout.telegram -%}
          Telegram: {% include safe_link.html href=link_href text=link_text -%}
        </span>
    </div>
    <hr>
    <section id="post">
      {%- if page.image -%}
        <img src="/assets/images/posts/{{ page.image }}.jpg" alt="{{ performer_name }}" class="cover">
      {%- endif -%}

      {%- unless page.url == index_page_address -%}
        <p id="post_date">{{ page.date | date: site.date_format }}</p>
      {%- endunless -%}

      {{ content }}

      {%- for song in page.songs -%}
        {%- include track.html song=song -%}
        {%- unless forloop.last -%}
          <hr>
        {%- endunless-%}
      {%- endfor -%}

      {%- unless page.url == index_page_address -%}
        {%- assign share_url = site.url | append: page.url | url_encode -%}
        {%- assign share_text = "Больше на " | append: "@" | append: layout.telegram | url_encode -%}
        {%- assign share_link = "https://t.me/share/url?url=" | append: share_url | append: "&text=" | append: share_text -%}
        <p class="center-text">Понравилось? {% include safe_link.html href=share_link text="Поделись с друзьями" -%}, мне будет приятно :)</p>
      {%- endunless -%}
    </section>
    <div class="spacer"></div>
    <footer>
      {%- unless page.url == index_page_address -%}
        <hr>
        <div id="pagination">
          {%- if page.previous -%}
          <a href="{{ page.previous.url }}">← {{ page.previous.name | default: page.previous.title }}</a>
          {%- endif -%}
          <div class="spacer"></div>
          {%- if page.next -%}
          <a href="{{ page.next.url }}">{{ page.next.name | default: page.next.title }} →</a>
          {%- endif -%}
        </div>
      {%- endunless -%}
      <hr>
      <div id="information">
        {%- assign link_href = "https://t.me/" | append: layout.author_telegram -%}
        {%- assign link_text = "@" | append: layout.author_telegram -%}
        <span class="center-text">Автор канала: {% include safe_link.html href=link_href text=link_text -%}</span>
        <div class="spacer"></div>
        <span class="center-text">На сайте есть мемы, но не каждому дано их найти&nbsp;;)</span>
      </div>
    </footer>
  </div>
  {%- assign number_of_memes = site.static_files | where_exp: "file", "file.path contains 'memes'" | size -%}
  <script type="text/javascript">
    console.image = function(url) {
      var image = new Image();
      image.onload = function() {
        var style = [
          'font-size: 1px;',
          `padding: 250px 250px;`,
          `background: url(${url}) no-repeat;`,
          'background-size: contain;'
        ].join(' ');
        console.log('%c ', style);
      };
      image.src = url;
    };
    const index = Math.floor({{ number_of_memes }} * Math.random());
    console.log("Хочешь всё сломать? Боюсь, тут нечего ломать, всё уже сломано до тебя :D Лучше позалипай на мемас:");
    console.image(`{{site.url}}/assets/images/memes/${index}.jpg`);
  </script>
</body>
</html>