---
layout: compress
---

<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>На репите каждый день - {{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <meta property="og:title" content="На репите каждый день - {{ page.title }}" />
  {% if page.image %}
    <meta property="og:image" content="/assets/images/posts/{{ page.image }}.jpg" />
  {% endif %}
  <meta property="telegram:channel" content="@{{ site.loolzrules.channel }}" />

  <link rel="icon" href="/assets/images/favicon.png">

</head>
<body>
  <div class="wrapper">

    <section id="post">
      <div id="title">
        <span class="credits left">
          Telegram-канал:
          <a href="https://t.me/{{ site.loolzrules.channel }}" target="_blank">@{{ site.loolzrules.channel }}</a>
        </span>
        <span class="credits right">{{ page.date | date: "%Y.%m.%d" }}</span>
        <br>
      </div>
      <hr>

      {% if page.image %}
        <img src="/assets/images/posts/{{ page.image }}.jpg" alt="{{ page.title }}" class="cover">
      {% endif %}

      {{ content }}

    </section>

  </div>
</body>
</html>
