---
layout: compress
date_format: "%Y.%m.%d"
telegram: loolzrules_channel
---
{%- assign performer_name = page.name | default: page.title -%}
{%- assign title = "На репите каждый день - " | append: performer_name -%}
{%- assign index_page_address = "/channel/" -%}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ title }}" />
  {%- assign logo = "logo" -%}
  <meta property="og:image" content="/assets/images/posts/{{ page.image | default: logo }}.jpg" />
  <meta property="telegram:channel" content="@{{ layout.telegram }}" />
  <link rel="icon" href="/assets/images/favicon.png">
</head>
<body>
  <div class="wrapper">

    <section id="post">
      <div id="title">
        <span class="credits left" id="breadcrumbs">
          {%- assign index_page_name = "Все посты" -%}
          {%- if page.url == index_page_address -%}
            {{- index_page_name -}}
          {%- else -%}
            <a href="{{ index_page_address | remove: '.html' }}">{{ index_page_name }}</a> / {{ performer_name }}
          {%- endif -%}
        </span>
        <div class="spacer"></div>
        <span class="credits right">
          {%- assign link_href = "https://t.me/" | append: layout.telegram -%}
          {%- assign link_text = "@" | append: layout.telegram -%}
          Telegram: {% include safe_link.html href=link_href text=link_text -%}
        </span>
      </div>
      <hr>

      {%- if page.image -%}
        <img src="/assets/images/posts/{{ page.image }}.jpg" alt="{{ page.title }}" class="cover">
      {%- endif -%}

      {%- unless page.url == index_page_address -%}
        <p id="post_date">{{ page.date | date: layout.date_format }}</p>
      {%- endunless -%}

      {{ content }}

      {%- for song in page.songs -%}
        {%- include track.html song=song -%}
        <hr>
      {%- endfor -%}

      {%- unless page.url == index_page_address -%}
        <div id="nav">
          {%- if page.previous -%}
            <a href="{{ page.previous.url }}">← {{ page.previous.name | default: page.previous.title }}</a>
          {%- endif -%}
          <div class="spacer"></div>
          {%- if page.next -%}
            <a href="{{ page.next.url }}">{{ page.next.name | default: page.next.title }} →</a>
          {%- endif -%}
        </div>
      {%- endunless -%}
    </section>
  </div>
</body>
</html>